extends layout

block content
  doctype html
  html(lang='en')
    head
      meta(charset='UTF-8')
      title Home Page
      link(rel='stylesheet', type='text/css', href='/stylesheets/stylehome.css')
    body
      header
        img.nylogo(src='/images/logo.png')
        a.logo(href='/')
          span T
          | ravel
        nav.navbar
          a(href='#home')  Home
          a(href='#aboutNY')  About NY
          a(href='#food') Food
          a(href='#attractions')  Attractions
          a(href='#hotels')  Hotels
          a(href='#contactus')  Contact Us
        .icons
          i#search-btn.fas.fa-search
          i#login-btn.fas.fa-user
        form.search-bar-container(action='')
          input#search-bar(type='search', placeholder='search here...')
          label.fas.fa-search(for='search-bar')
      section#home.home
        .content
          h3 Welcome to New York
          p Discover new, wonderful, and interesting places with us
          a.btn(href='#')  Discover More 
        .controls
          span.vid-btn.active(data-src='/videos/vid-3.mp4')
          span.vid-btn(data-src='/videos/vid-4.mp4')
          span.vid-btn(data-src='/videos/vid-3.mp4')
          span.vid-btn(data-src='/videos/vid-4.mp4')
        .video-container
          video#video-slider(src='/videos/Statue Of Liberty - 1536.mp4', loop='', autoplay='', muted='')
   
      section#packages.packages
        h1.heading
          span L
          span O
          span C
          span A
          span T
          span I
          span O
          span N
          span S
        .box-container
          .box
            img(src='/images/statueofliberty.jpg', alt='')
            .content
              h3
                i.fas.fa-map-marker-alt
                |  Statue of Liberty
              p
                | "The Statue of Liberty Enlightening the World" was a gift of friendship from the people of France to the United States and is recognized as a universal symbol of freedom and democracy.
              .stars
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.far.fa-star
              .price
                | $90.00 
                span $120.00
              a.btn(href='#') Visit Now!
          .box
            img(src='/images/central-park-cherry-blossoms.jpg', alt='')
            .content
              h3
                i.fas.fa-map-marker-alt
                |  Cherry Blossoms at Central Park
              p
                | In the springtime from April to May, the cherry blossom trees in Central Park attract nature lovers from all over the world.                                                                                                                        
              .stars
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.far.fa-star
              .price  FREE! 
              a.btn(href='#') Visit Now!
          .box
            img(src='/images/wollmanrink.jpg', alt='')
            .content
              h3
                i.fas.fa-map-marker-alt
                |  Ice Skating at Wollman Rink
              p
                | Ice skating in fall and winter is one of the most popular things to do among New Yorkers and tourists alike.                                                                                                                                                                                                
              .stars
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.far.fa-star
              .price  FREE! 
              a.btn(href='#') Visit Now!
          .box
            img(src='/images/americanmuseumofnaturalhistory.jpg', alt='')
            .content
              h3
                i.fas.fa-map-marker-alt
                |  American Museum of Natural History
              p
                | Since its founding in 1869, the American Museum of Natural History has collected more than 33 million specimens relating to the natural world and human cultures. Come and Explore!
              .stars
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.far.fa-star
              .price
                | $25.00 
                span $40.00
              a.btn(href='#') Book Now!
          .box
            img(src='/images/torishin.jpg', alt='')
            .content
              h3
                i.fas.fa-map-marker-alt
                |  Torishin
              p
                | Torishin is the only really authentic Yakitori specialty restaurant in the U.S.A. Don't miss out!                                                                                                                                                                                                                                
              .stars
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.far.fa-star
              .price
                | $30.00 
                span $50.00
              a.btn(href='#') Reserve Now!
          .box
            img(src='/images/kochi.jpg', alt='')
            .content
              h3
                i.fas.fa-map-marker-alt
                |  Kochi
              p
                | KOCHI -Korean for ‘skewer’- offers a nine-course tasting menu of skewered dishes inspired by traditional Korean cuisine that’s built around seasonality and balance. Make a Reservation with us now!
              .stars
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.far.fa-star
              .price
                | $25.00 
                span $40.00
              a.btn(href='#') Reserve Now!
      section#gallery.gallery
        h1.heading
          span E
          span X
          span P
          span L
          span O
          span R
          span E
        .box-container
          .box
            img(src='/images/niagarafalls.jpg', alt='')
            .content
              h3 Niagara Falls
              p The World Greatest Waterfall!
              a.btn(href='#') Explore more!
          .box
            img(src='/images/adirondacks.jpg', alt='')
            .content
              h3 Adironacks Mountains
              p Prepare to be wowed by crystal blue waters and sweeping mountain views.
              a.btn(href='#') Explore more!
          .box
            img(src='/images/fingerlakes.jpg', alt='')
            .content
              h3 The Finger Lakes
              p Glacial lakes, scenic drives and hiking! A good place to relax.
              a.btn(href='#') Explore more!
          .box
            img(src='/images/fireisland.jpg', alt='')
            .content
              h3 Fire Island
              p Create new memories by exploring the sand dunes on this island!
              a.btn(href='#') Explore more!
          .box
            img(src='/images/empirestatebuilding.jpg', alt='')
            .content
              h3 Empire State Building
              p Construction was completed in a record-breaking 1 year and 45 days. Visit now!
              a.btn(href='#') Explore more!
          .box
            img(src='/images/stpatrickcathedral.jpg', alt='')
            .content
              h3 St Patrick's Cathedral
              p A Beacon of hope for those who share the Catholic faith.
              a.btn(href='#') Explore more!

    .footer-container
      .footer
        img.footerlogo(src='/images/logo.png')
        //
          <div class="footer-heading footer-1">
          <h2> About Us</h2>
          </div>
        .footer-heading.footer-2
          h2  Contact Us
          a(href='#')  Jobs 
          a(href='#')  Support 
          a(href='#')  Contact 
          a(href='#')  Sponsorships 
        .footer-heading.footer-3
          h2  Social Media
          a(href='#')  Instagram 
          a(href='#')  Facebook 
          a(href='#')  Twitter 
        .footer-email-form
          h2  Join Our Newsletter 
          input#footer-email(type='email', placeholder='Enter your email address')
          input#footer-email-btn(type='submit', value='Sign Up')
