extends layout

block content
  doctype html
  html(lang='en')
  head
      meta(charset='UTF-8')
      title Top Attractions
      link(rel='stylesheet', type='text/css', href='/stylesheetsstyle.css')
  header
    a.logo(href='#')
      span T
      | ravel
    nav.navbar
      a(href='/')  Home
      |  
      a(href='/aboutus')  About NY
      |  
      a(href='/famousrestaurants') Food
      a(href='/topthingstodo')  Attractions
      a(href='#hotels')  Hotels
      a(href='/contact')  Contact Us
  body
    h1.ttod
      | Top Things to Do
    h2.Statue
      | Statue Of Liberty
    a(href='https://www.viator.com/tours/New-York-City/Statue-of-Liberty-and-Ellis-Island-Tour/d687-13616P1?eap=planetware-tours-14254&aid=vba14254en')
      | Click here for Tours!
    .detailsstatue
      | America's most iconic sight, the Statue of Liberty is
      | at the top of every first-time visitor's list of things
      | to do in New York. It was France's gift to America.
      | Built in 1886, it remains a world symbol of freedom and
      | is one of the top attractions in America. It is one of
      | the world's largest statues, standing just under 152
      | feet tall from the base to the torch, and weighing
      | approximately 450,000 pounds.
    h2.centralpark
      | Central Park
    .detailscentralpark
      | a.	A walk, pedal, or carriage ride through the
      | crisscrossing pathways of Central Park is a must-do on
      | anyone's New York City itinerary. In winter, you can
      | even lace up your skates and glide across Wollman Rink.
      | This huge park in the city center, a half-mile wide and
      | 2.5 miles long, is one of the things that makes New York
      | such a beautiful and livable city. Besides being a great
      | place to experience a little nature, Central Park has many
      | attractions within its borders, and most of them are free,
      | making it one of the few cheap things to do in NYC. Some of
      | the most popular places to visit include the Belvedere
      | Castle, Strawberry Fields, the Central Park Zoo, and the
      | Lake. If you are exploring the park on your own, start by
      | picking up a map at one of the visitor centers and plot
      | your routing.
    h2.rockefeller
      | Rockefeller Center
    .detailsrockefeller
      | a.	When it comes to New York attractions, Rockefeller
      | Center is on almost all tourist's itineraries. This
      | vast entertainment and shopping complex in the middle
      | of Manhattan is home to NBC-TV and other media, but the
      | centerpiece is the 70-story 30 Rockefeller Plaza, an
      | Art Deco skyscraper that offers awesome views over
      | Manhattan from the famous Top of the Rock Observation
      | Deck.
    h2.broadway
      | Broadway and Theater District
    .detailsbroadway
      | a.	Attending a Broadway show is one of the top things
      | to do in New York City. Considered the pinnacle of
      | American theater, this is the place to see the latest
      | shows and the long-running classics. Broadway usually
      | refers simply to Broadway theater, which encompasses a
      | large number of theater venues in the Theater District
      | and along the street of Broadway. For the most popular
      | shows, tickets should be purchased well in advance.
    h2.empirestate
      | Empire State Building
    .detailsempire
      | The Empire State Building is one of New York's most
      | famous landmark buildings and key tourist attractions.
      | The 381-meter-tall, 102-storey building was the tallest
      | in the world until the 1 World Trade Center tower rose
      | higher, 41 years later. Topped with a mooring mast for
      | airships, the Empire State Building immediately became
      | a landmark and a symbol for NYC when it opened in 1931.
      | There are actually two observatories atop the Empire
      | State Building, but both offer astounding views. On
      | clear days, you can see up to 80 miles, looking into
      | the neighboring states of New Jersey, Pennsylvania,
      | Connecticut, and Massachusetts.
